<div class="adminVipsPartial">
  <table>
       <thead>
            <tr>
                 <td><img src="/images/vips.png" alt="vips"></td>
            </tr>
       </thead>
       <tbody>
            <tr>
                 <td class="traitHorizontal"><a href="/Vips/AjouterTest">Ajouter</a></td>
            </tr>
            <tr>
                 <td class="traitHorizontal"><a href="/Vips/ModifierTest">Modifier</a></td>
            </tr>
            <tr>
                 <td class="traitHorizontal"><a href="/Vips/SupprimerTest">Supprimer</a></td>
            </tr>
     </tbody>
  </table>
</div>
