# Les lignes commençant par '#' sont des commentaires.
# Ignorer tous les fichiers nommés *.*~
*.*~
cote_client/package-lock.json
cote_admin/package-lock.json
# Ignorer tous le repertoire node_modules
cote_client/node_modules/*
cote_admin/node_modules/*
