<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/css/structure.css" />
        <title>{{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="header">
                <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            </div>

            {{#if session.login}}
                <div class="menu_haut">
                    <a id="decoBtn" href="/Deconnexion">Bonjour {{session.login}} | <strong><i>Déconnexion</i></strong></a>
                    <ul>
                        <li><a href="/Vips">VIPS</a></li>
                        <li class="traitVertical"><a href="/Photos">PHOTOS</a></li>
                    </ul>
                </div>
            {{/if}}
            
            <div id="contenu">
                <br/>
                <br/>
                {{{body}}}
            </div>
            <div id="footer">
                L'encyclopédie des stars depuis février 2017 (en NodeJS)
                <br />
                © IUT du Limousin DUT Informatique année 2
                <br />
                Appllication réalisée par VISSER Vincent, G4b
                <br />
                <img src="/images/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
            </div>
        </div>
    </body>
</html>
